### Import packages

In [1]:
import sqlite3
import pandas as pd

### Connect to database

In [39]:
conn = sqlite3.connect('amazon_db.db')
c = conn.cursor()

In [40]:
c.execute("""SELECT * FROM books
LIMIT 5; """)

In [41]:
df = pd.DataFrame(c.fetchall())
df.columns = [i[0] for i in c.description]
df

                                books num_copies
0         A Elephant Ate Under A Fish    4226324
1         A Boy Jumped Outside A Lake    4048899
2       One Man Hopped Under The Tree     774329
3  A Person Threw Behind The Notebook    1359606
4     The Tree Ran Through A Mountain    4703380

### Use SQL to answer the following questions:

1.  How many rows are in the 'author' database?

2. How many authors are called David?

3. How many books each author wrote?

4. Use both the author table and books table to 
say: how many copies were sold by authors named David 


    a. how many books for each of the Davids
    
    
    b. how many books in total for all Davids