In [49]:
#1

import pandas as pd

df = pd.read_csv("co2_mm_mlo.csv")
df.head()

  1958   3    1958.208      315.71      315.71      314.62     -1
0  1958   4    1958.292      317.45      317.45  ...
1  1958   5    1958.375      317.50      317.50  ...
2  1958   6    1958.458      -99.99      317.10  ...
3  1958   7    1958.542      315.86      315.86  ...
4  1958   8    1958.625      314.93      314.93  ...

In [53]:
#2

df.iloc[:, 0:2]

    1958   3    1958.208      315.71      315.71      314.62     -1
0    1958   4    1958.292      317.45      317.45  ...
1    1958   5    1958.375      317.50      317.50  ...
2    1958   6    1958.458      -99.99      317.10  ...
3    1958   7    1958.542      315.86      315.86  ...
4    1958   8    1958.625      314.93      314.93  ...
5    1958   9    1958.708      313.20      313.20  ...
6    1958  10    1958.792      -99.99      312.66  ...
7    1958  11    1958.875      313.33      313.33  ...
8    1958  12    1958.958      314.67      314.67  ...
9    1959   1    1959.042      315.62      315.62  ...
10   1959   2    1959.125      316.38      316.38  ...
11   1959   3    1959.208      316.71      316.71  ...
12   1959   4    1959.292      317.72      317.72  ...
13   1959   5    1959.375      318.29      318.29  ...
14   1959   6    1959.458      318.15      318.15  ...
15   1959   7    1959.542      316.54      316.54  ...
16   1959   8    1959.625      314.80      314.80  ...
17   1959   9    1959.708      313.84      313.84  ...
18   1959  10    1959.792      313.26      313.26  ...
19   1959  11    1959.875      314.80      314.80  ...
20   1959  12    1959.958      315.58      315.58  ...
21   1960   1    1960.042      316.43      316.43  ...
22   1960   2    1960.125      316.97      316.97  ...
23   1960   3    1960.208      317.58      317.58  ...
24   1960   4    1960.292      319.02      319.02  ...
25   1960   5    1960.375      320.03      320.03  ...
26   1960   6    1960.458      319.59      319.59  ...
27   1960   7    1960.542      318.18      318.18  ...
28   1960   8    1960.625      315.91      315.91  ...
29   1960   9    1960.708      314.16      314.16  ...
..                                                 ...
701  2016   9    2016.708      401.05      401.05  ...
702  2016  10    2016.792      401.59      401.59  ...
703  2016  11    2016.875      403.55      403.55  ...
704  2016  12    2016.958      404.45      404.45  ...
705  2017   1    2017.042      406.17      406.17  ...
706  2017   2    2017.125      406.46      406.46  ...
707  2017   3    2017.208      407.22      407.22  ...
708  2017   4    2017.292      409.04      409.04  ...
709  2017   5    2017.375      409.69      409.69  ...
710  2017   6    2017.458      408.88      408.88  ...
711  2017   7    2017.542      407.12      407.12  ...
712  2017   8    2017.625      405.13      405.13  ...
713  2017   9    2017.708      403.37      403.37  ...
714  2017  10    2017.792      403.63      403.63  ...
715  2017  11    2017.875      405.12      405.12  ...
716  2017  12    2017.958      406.81      406.81  ...
717  2018   1    2018.042      407.96      407.96  ...
718  2018   2    2018.125      408.32      408.32  ...
719  2018   3    2018.208      409.41      409.41  ...
720  2018   4    2018.292      410.24      410.24  ...
721  2018   5    2018.375      411.24      411.24  ...
722  2018   6    2018.458      410.79      410.79  ...
723  2018   7    2018.542      408.71      408.71  ...
724  2018   8    2018.625      406.99      406.99  ...
725  2018   9    2018.708      405.51      405.51  ...
726  2018  10    2018.792      406.00      406.00  ...
727  2018  11    2018.875      408.02      408.02  ...
728  2018  12    2018.958      409.07      409.07  ...
729  2019   1    2019.042      410.83      410.83  ...
730  2019   2    2019.125      411.75      411.75  ...

[731 rows x 1 columns]

In [48]:
#3

condition = df.iloc[:, 3] == -99.9

df.iloc[condition, df.iloc[:, 3]] = NaN

IndexError: single positional indexer is out-of-bounds