In [115]:
import pandas as pd

df = pd.read_csv('co2_mm_mlo.csv', sep='\s+', header=None)
df.head()

      0  1         2       3       4       5  6
0  1958  3  1958.208  315.71  315.71  314.62 -1
1  1958  4  1958.292  317.45  317.45  315.29 -1
2  1958  5  1958.375  317.50  317.50  314.71 -1
3  1958  6  1958.458  -99.99  317.10  314.85 -1
4  1958  7  1958.542  315.86  315.86  314.98 -1

In [116]:
df = df.iloc[:, [0,1,3]]

In [117]:
df.columns = ["Year", "Month", "CO2"]

In [118]:
df['Day'] = 15

In [119]:
df.head()

   Year  Month     CO2  Day
0  1958      3  315.71   15
1  1958      4  317.45   15
2  1958      5  317.50   15
3  1958      6  -99.99   15
4  1958      7  315.86   15